<ion-content>
  <div class="card-wrapper">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">

            <ion-card
              [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/mobile.jpg)'}"
              style="object-fit: fill;">
              <ion-card-header>
                <ion-card-title class="moi2"> cool</ion-card-title>
                <ion-card-subtitle class="moi2">Categories:bien</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="moi2">
                meta description
              </ion-card-content>
            
            </ion-card>
          </div>
        </div>

      </div>
      <div class="tous" style="margin-top: 2%;">

        <div class="mesquestions">
          <div class="question">
            <img src="../../assets/mobile.jpg" alt="">
            <span>Mamady Camara</span>
            <span class="mesnombres">2000</span>
          </div>
          <p>comment faire ce challenge
            comment faire ce challenge </p>
          
        </div>
        <hr style="height: 2px; background-color: #707070;">
        <div class="wrapper2">
          <h2>Apporter un élément de reponse</h2>
          <div class="" style="display: flex;">
            <textarea #textarea spellcheck="false" placeholder="Type something here..." required></textarea>&nbsp;<ion-icon name="send-outline" style="margin-top: 12%; font-size: 2em; color: #3880FF;"></ion-icon>
          </div>
      </div>
      
        
         <h1 style="height: 2px;"></h1>
      </div>

      <section class="main">
        <div class="full-boxer">
            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                          <img src="../../assets/mobile.jpg">
                        </div>
                        <div class="Name">
                            <strong>Ranidi Lochana</strong>
                            <span>@Ranidi Lochana</span>
                        </div>
                    </div>
                </div> 
                <div class="comment">
                    <p style=" margin-bottom:2% ;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p >
                    <div class="" style="margin-left: auto;">
                      <i class="bi bi-hand-thumbs-up-fill" style="color:#3880FF"></i><span>455</span>
                      <i class="bi bi-hand-thumbs-down-fill" style="color:red"></i><span>455</span>
                    </div>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                          <img src="../../assets/mobile.jpg">
                        </div>
                        <div class="Name">
                            <strong>Senuda Dilwan</strong>
                            <span>@senuda dilwan</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../../assets/mobile.jpg">
                        </div>
                        <div class="Name">
                            <strong>Rumali fernando</strong>
                            <span>@Rumali fernando</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../../assets/mobile.jpg">
                        </div>
                        <div class="Name">
                            <strong>Midinu Thiranjana</strong>
                            <span>@Midinu Thiranjana</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
        </div>
    </section>
    </div>
  </div>


</ion-content>
