<ion-content>
  <div class="card-wrapper" style="margin-bottom: 10vh; margin-top: 15vh;">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <ion-card [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + question.challenge.photo + '\')',
            'background-repeat': 'no-repeat',
            'background-size': 'cover'}" style="object-fit: fill;">
              <ion-card-header>
                <ion-card-title class="moi2">{{question.challenge.titre}}</ion-card-title>
                <ion-card-subtitle class="moi2">{{question.challenge.description}}</ion-card-subtitle>
              </ion-card-header>

            </ion-card>
          </div>
        </div>
      </div>
      <div class="tous" style="margin-top: 2%;">
        <div class="mesquestions">
          <div class="question">
            <img src="../../assets/mobile.jpg" alt="">
            <span>{{question.utilisateurs.nom}} {{question.utilisateurs.prenom}} </span>

          </div>
          <p>{{question.question}} </p>
        </div>
        <hr style="height: 2px; background-color: #707070;">
        <div class="wrapper2">
          <h2>Apporter un élément de reponse</h2>
          <form [formGroup]="commentaire" (ngSubmit)=" onSubmitCommnetaire()">
            <div class="" style="display: flex;">
              <textarea #textarea spellcheck="false" formControlName="description" name="description"
                placeholder="Fait un commentaire..." required></textarea>&nbsp;
              <button>
                <ion-icon type="submit" name="send-outline"
                  style="margin-top: 12%; font-size: 2em; color: #3880FF;"></ion-icon>
              </button>
            </div>
          </form>
        </div>
        <h1 style="height: 2px;"></h1>
      </div>
      <style>
        .essaie {
          height: 380px;
          overflow-y: scroll;

        }

        .essaie::-webkit-scrollbar {
          display: none;
        }
      </style>
      <section class="main ">
        <div class="full-boxer essaie">
          <div class="comment-box" *ngFor="let commentaireA of commentaireParIdQuestion ">
            <div class="box-top">
              <div class="Profile">
                <div class="profile-image">
                  <img src="{{commentaireA.utilisateurs.profile}}">
                </div>
                <div class="Name">
                  <span>{{commentaireA.utilisateurs.nom}} {{commentaireA.utilisateurs.prenom}}</span>
                </div>
              </div>
            </div>
            <div class="comment">
              <p style=" margin-bottom:2% ;">
                {{commentaireA.description}}
              </p>
              <div class="" style="margin-left: 50%; display: flex;">
                <form (ngSubmit)="liker(commentaireA.id)">
                  <input type="hidden" value="{{commentaireA.id}}" name="dislikeId" [(ngModel)]="form1.questionid">
                  <button *ngIf="isLoggedIn">
                    <i class="bi bi-hand-thumbs-up-fill"
                      style="color:#3880FF;font-size: 20px;"></i><span>{{commentaireA.likes}}</span>&nbsp;&nbsp;&nbsp;
                  </button>
                  <span *ngIf="!isLoggedIn">
                    <i class="bi bi-hand-thumbs-up-fill"
                      style="color:#3880FF;font-size: 20px;"></i><span>{{commentaireA.likes}}</span>&nbsp;&nbsp;&nbsp;
                  </span>
                </form>
                <form (ngSubmit)="disliker(commentaireA.id)">
                  <input type="hidden" value="{{commentaireA.id}}" name="dislikeId" [(ngModel)]="form.questionid">
                  <button type="submit" *ngIf="isLoggedIn">
                    <i class="bi bi-hand-thumbs-down-fill"
                      style="color:red ; font-size: 20px;"></i><span>{{commentaireA.dislike}}</span>
                  </button>
                  <span *ngIf="!isLoggedIn">
                    <i class="bi bi-hand-thumbs-down-fill"
                      style="color:red ; font-size: 20px;"></i><span>{{commentaireA.dislike}}</span>
                  </span>
                </form>
              </div>
            </div>
          </div>



        </div>
      </section>
    </div>
  </div>
</ion-content>
