<!-- <div class="" style="overflow: scroll;">
  <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root"
            style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <ion-buttons slot="end" style="font-size: 50px; margin-left: auto; background-color: #FFF; color: #707070;">
        <ion-button (click)="modal.dismiss()" style="background-color: #FFF; color: #707070;"><i class="bi bi-x "
            style="font-size: 50px;"></i></ion-button>
      </ion-buttons>
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="../../assets/logo.png" rel="dofollow">DevsCiwara</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Créer un compte</span>
            <form id="stripe-login" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm" novalidate>
              <div class="field padding-bottom--24">
                <label for="nom">Nom</label>
                <input type="text" name="nom" name="nom" [(ngModel)]="form.nom" required maxlength="20" #nom="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && nom.errors }">
                <div class="invalid-feedback" *ngIf="nom.errors && f.submitted">
                  <div *ngIf="nom.errors['required']">Le nom est obligatoire!</div>
                  <div *ngIf="nom.errors['maxlength']">
                    Le nom ne doit pas depasser 20 caracters
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <label for="Prenom">Prenom</label>
                <input type="text" name="prenom" name="prenom" [(ngModel)]="form.prenom" required maxlength="20"
                  #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.errors }">
                <div class="invalid-feedback" *ngIf="prenom.errors && f.submitted">
                  <div *ngIf="prenom.errors['required']">Le nom est obligatoire!</div>
                  <div *ngIf="prenom.errors['maxlength']">
                    Le prenom ne dooit pas depasser 20 caracters !!!
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <label for="username">Pseudo</label>
                <input type="text" name="username" name="username" [(ngModel)]="form.username" required maxlength="20"
                  #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                  <div *ngIf="username.errors['required']">Le nom est obligatoire!</div>
                  <div *ngIf="username.errors['maxlength']">
                    Le nom d'utilisateur ne doit pas depasser 20 caracters
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <label for="email">Email</label>
                <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
                  [ngClass]="{'is-invalid':f.submitted && email.errors}">
                <div *ngIf="email.errors && f.submitted" class="invalid-feedback" style="color: red;">
                  L'adresse email est obligatoire!
                </div>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Mot de passe</label>
                </div>
                <input type="password" class="input" id="password" class="form-control" name="password"
                  [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                  <div color="red" *ngIf="password.errors['required']" style="color: red;">Le mot de passe est
                    obligatoir</div>
                  <div *ngIf="password.errors['minlength']" style="color: red;">
                    le mot de passe doit contenir au mois 6 caracters
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Confirmer mot de passe</label>
                </div>
                <input type="password" name="passwordConfirm" [(ngModel)]="form.passwordConfirm" required
                  #passwordConfirm="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && passwordConfirm.value != form.password }" />
                <div *ngIf="f.submitted && passwordConfirm.value != form.password" class="invalid-feedback">
                  La confirmation de mot de passe ne correspond pas au mot de passe saisi.
                </div>
              </div>
              <div class="field padding-bottom--24 py-3">
                <input type="submit" name="submit" value="S'inscrire" style="background-color: #5260FF;">
                <div class="form-group">
                  <div *ngIf="f.submitted && Inscriptionechoue" class="alert alert-danger" role="alert">
                    connextion echoué: {{ messageErreur }}
                  </div>
                </div>
              </div>
              <div class="field">
                <a class="ssolink" href="#">Vous avez un de compte ?</a>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="InscriptionReussi">
              Inscription effectué
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->

<ion-content>

  <section class="container forms" style="margin-top: 35vh !important;">
    <div class="form login">
      <div class="form-content">
        <header>Inscription</header>
        <form id="stripe-login" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm" novalidate>
          <div class="field input-field" style="margin-bottom: 8vh !important;">
            <label for="email">Nom <b style="color:red">*</b> </label>
            <input type="text" name="nom" name="nom" [(ngModel)]="form.nom" required maxlength="20" #nom="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nom.errors }">
            <div class="invalid-feedback" *ngIf="nom.errors && f.submitted">
              <div *ngIf="nom.errors['required']" style="color: red;">Le nom est obligatoire!</div>
              <div *ngIf="nom.errors['maxlength']" style="color: red;">
                Le nom ne doit pas depasser 20 caracters
              </div>
            </div>
          </div>
          <div class="field input-field" style="margin-bottom: 8vh !important;">
            <label for="email">Prenom<b style="color:red">*</b> </label>
            <input type="text" name="prenom" name="prenom" [(ngModel)]="form.prenom" required maxlength="20"
              #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.errors }">
            <div class="invalid-feedback" *ngIf="prenom.errors && f.submitted">
              <div *ngIf="prenom.errors['required']" style="color: red;">Le nom est obligatoire!</div>
              <div *ngIf="prenom.errors['maxlength']" style="color: red;">
                Le prenom ne doit pas depasser 20 caracters !!!
              </div>
            </div>
          </div>
          <div class="field input-field" style="margin-bottom: 8vh !important;">
            <label for="pseudo">Pseudo <b style="color:red">*</b> </label>
            <input type="text" name="username" name="username" [(ngModel)]="form.username" required maxlength="20"
              #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
            <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors['required']" style="color: red;">Le nom est obligatoire!</div>
              <div *ngIf="username.errors['maxlength']" style="color: red;">
                Le nom d'utilisateur ne doit pas depasser 20 caracters
              </div>
            </div>
          </div>
          <div class="field input-field" style="margin-bottom: 8vh !important;">
            <label for="email"> Email <b style="color:red">*</b> </label>
            <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
              [ngClass]="{'is-invalid':f.submitted && email.errors}">
            <div *ngIf="email.errors && f.submitted" class="invalid-feedback" style="color: red;">
              L'adresse email est obligatoire!
            </div>
          </div>
          <div class="field input-field" style="margin-bottom: 8vh;">
            <label for="password">Mot de passe <b style="color:red">*</b> </label>
            <input [type]="type ? 'password' : 'text'" class="input" id="password" class="form-control" name="password"
              [(ngModel)]="form.password" required minlength="6" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
              <div color="red" *ngIf="password.errors['required']" style="color: red;">Le mot de passe est
                obligatoir</div>
              <div *ngIf="password.errors['minlength']" style="color: red;">
                le mot de passe doit contenir au mois 6 caracters
              </div>
            </div>
            <i (click)="changeType()" class='bx bx-hide eye-icon'></i>
          </div>

          <div class="field input-field">
            <label for="password">Confirmer mot de passe<b style="color:red">*</b></label>
            <input [type]="type1 ? 'password' : 'text'" name="passwordConfirm" [(ngModel)]="form.passwordConfirm" required
              #passwordConfirm="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && passwordConfirm.value != form.password }" />

            <div *ngIf="f.submitted && passwordConfirm.value != form.password" class="invalid-feedback"
              style="color:red">
              La confirmation de mot de passe ne correspond pas au mot de passe saisi.
            </div>
            <i (click)="changeType1()" class='bx bx-hide eye-icon'></i>
          </div>

          <div class="form-link" style="margin-top:20%">
          </div>

          <div class="field button-field">
            <button>S'inscrire</button>
          </div>

          <div *ngIf="f.submitted && Inscriptionechoue" class="alert alert-danger" role="alert">
            connextion echoué: {{ messageErreur }}
          </div>

        </form>
        <div class="alert alert-success" *ngIf="InscriptionReussi">
          Inscription effectué
        </div>
        <div class="form-link" style="margin-bottom: 30vh !important;">
          <span>Vous avez un compte? <a class="link signup-link" (click)="openModalCon()" >Se connecter</a></span>
        </div>
      </div>

      <div class="line"></div>
    </div>

  </section>
</ion-content>
