<ion-content>
  <ng-container *ngIf="isLoading">
    <div class="mon">

      <div class="Loader">
        <div class="circle-border">
          <div class="circle-inside"> </div>
        </div> <span>Patienter...</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <!-- afficher les détails du défi -->
    <!-- <section class="container forms "
      style="margin-bottom: 10vh !important; background-color: white; border-radius: 12px; width: 94%; margin-left: auto; margin-right: auto; height: 300px; margin-top: 50%;  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; margin-bottom: 2%; ">
      <h1>Createur: {{createur}}</h1>
      <h1>Equipe:{{equipe}} </h1>
      <h1>Challenge:{{challenge}} </h1>
      <h1>Du {{debut  | date: 'dd/MM/yyyy'}} </h1>
      <h1>AU {{fin  | date: 'dd/MM/yyyy'}} </h1>
      <ion-button expand="full" (click)="confirmer()" style="margin-bottom: 2vh;">
        confirmer
      </ion-button>

    </section> -->
    <div class="blog_post" style="margin-top: 15vh; margin-left: auto;margin-right: auto; margin-bottom: 5vh;">
      <div class="img_pod">
        <img src="{{profile}}" alt="random image">
      </div>
      <div class="container_copy" style="margin-top: 20vh;">
        <br><br>
        <h3>Createur: {{createur}}</h3>
        <div class="" style="display: flex;">
          <h3>Du {{debut  | date: 'dd/MM/yyyy'}}</h3>&nbsp;&nbsp;&nbsp;
          <h3>Du {{debut  | date: 'dd/MM/yyyy'}}</h3>
        </div>

        <h1>Equipe: <br>{{equipe}}</h1>
        <p>Challenge: <br>{{challenge}}</p>
      </div>
      <ion-button expand="full" (click)="confirmer()" style="margin-bottom: 2vh;">
        confirmer
      </ion-button>
    </div>
  </ng-container>

</ion-content>
