<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="#3880FF">
      <ion-title>Mon profile</ion-title>
      <ion-buttons *ngIf="isLoggedIn" slot="end">
        <ion-icon (click)="logout()" name="power-outline" style="font-size: 2em;"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <style>
    ion-content::-webkit-scrollbar {
      display: none;
    }

    .banner::-webkit-scrollbar {
      display: none;
    }
  </style>
  <ion-content>
    <div *ngIf="!isLoggedIn">
      <ion-button class="" id="open-custom-dialog" expand="block"
        style="background-color:#707070;border-radius: 12px; color:white; background-color: #3880FF !important;"
        (click)="openModal()">Se
        connecter</ion-button>
      <ion-button expand="block" style="background-color:#707070;border-radius: 12px; color:white;"
        id="open-custom-dialog1" (click)="openModal2()">S'inscrire</ion-button>
    </div>
    <div class="card" *ngIf="isLoggedIn" style="margin-top: 2vh;">
      <div class="banner" style=" background-image: url('../../assets/téléchargement\ \(8\).jpg');">
        <div class="moi">
          <img src="{{currentUser.profile}}" alt="">
        </div>
      </div>
      <div class="menu">
        <div class="opener"></div>
      </div>
      <h2 class="name">{{currentUser.username}}</h2>
      <div class="title">{{currentUser.email}}</div>
      <div class="actions">
        <div (click)="openProfile()" class="follow-btn">
          <button>Modifier profile</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" color="tertiary">
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="!isLoggedIn" class="men"><ion-icon name="person-circle"></ion-icon></ion-menu-button>
        <ion-menu-button *ngIf="isLoggedIn" class="men"><img src="{{currentUser.profile}}" alt=""></ion-menu-button>

        <img src="../../assets/lol.png" class="logo logo2" alt="">
      </ion-buttons>
      <div class="row Rechercher">
        <div class="col-md-8 d-flex justify-content-center">
          <a href="/menu/accueil">Accueil</a>
          <a href="/menu/challenge">Challenge</a>
          <a href="/menu/forum">Forum</a>
          <!-- <a href="#about">About</a> -->
        </div>
        <style>
          a {
            float: left;

            text-align: center;
            padding: 20px 16px;
            text-decoration: none;
            font-size: 17px;
          }
        </style>
        <div class="col-md-4 py-2">
          <ion-searchbar color="light" placeholder="Rechercher..."></ion-searchbar>
        </div>
      </div>
      <ion-buttons slot="end">
        <div *ngIf="!isLoggedIn" style="display: flex;">
          <ion-button class="connexion" (click)="openModal()" id="open-custom-dialog" expand="block"
            style="background-color:#707070;border-radius: 12px; color:white;">Se connecter</ion-button>
          <ion-button class="connexion" id="open-custom-dialog1" (click)="openModal2()">S'inscrire</ion-button>
        </div>
        <div *ngIf="isLoggedIn" class="nav-item profile dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="rounded-circle me-lg-2" src="{{currentUser.profile}}" alt="" style="width: 40px; height: 40px;">
            <span class="d-none d-lg-inline-flex">{{ currentUser.username }}</span>
          </a>
        </div>
        <ion-modal id="example-modal" #modal trigger="open-custom-dialog1">
          <ng-template>
            <div class="wrapper">
              <h1>Demandes</h1>
              <ion-list lines="none" style="height: 200px; overflow-y: scroll;">
                <div class="" *ngFor="let demande of voirDemande"
                  style="margin-bottom: 2%; box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ">
                  <ion-item style="background-color: red;" button="true" detail="false" (click)="recupeId(demande.id)"
                    (click)="modal.dismiss()">
                    <ion-label>{{demande.team[0].nom}}</ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </div>
          </ng-template>
        </ion-modal>
        <ion-buttons *ngIf="isLoggedIn" slot="" id="open-custom-dialog1" expand="block"
          style="margin-left: -2% !important; ">
          <ion-icon slot="icon-only" style="rotate: 18deg;" name="notifications-outline"></ion-icon>
          <ion-badge color="danger"
            style="--height: 20px !important; position: absolute; right: -2px; top: -8px;">{{total}}</ion-badge></ion-buttons>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-fab #floatingButton vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button tab="challenge">
        <ion-icon name="flag"></ion-icon>
      </ion-tab-button>
      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="white" fill-rule="evenodd">
        </path>
      </svg>
      <ion-tab-button tab="forum" class="notifs">
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-badge></ion-badge>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</div>

<style>
  .card .banner .moi:hover {
    transform: translateY(50%) scale(1.3);
  }

  .card .menu {
    width: 100%;
    height: 5.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
  }

  .card .menu .opener {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
  }

  .card .menu .opener:hover {
    background-color: #f2f2f2;
  }

  .card .menu .opener span {
    background-color: #404040;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: calc(50% - 0.2rem);
    border-radius: 50%;
  }

  .card .menu .opener span:nth-child(1) {
    top: 0.45rem;
  }

  .card .menu .opener span:nth-child(2) {
    top: 1.05rem;
  }

  .card .menu .opener span:nth-child(3) {
    top: 1.65rem;
  }

  .card h2.name {
    text-align: center;
    padding: 0 2rem 0.5rem;
    margin: 0;
  }

  .card .title {
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 1.2rem;
  }

  .card .actions {
    padding: 0 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    order: 99;
  }

  .card .actions .follow-info {
    padding: 0 0 1rem;
    display: flex;
  }

  .card .actions .follow-info h2 {
    text-align: center;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
  }

  .card .actions .follow-info h2 a {
    text-decoration: none;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: background-color 100ms ease-in-out;
  }

  .card .actions .follow-info h2 a span {
    color: #1c9eff;
    font-weight: bold;
    transform-origin: bottom;
    transform: scaleY(1.3);
    transition: color 100ms ease-in-out;
  }

  .card .actions .follow-info h2 a small {
    color: #afafaf;
    font-size: 0.85rem;
    font-weight: normal;
  }

  .card .actions .follow-info h2 a:hover {
    background-color: #f2f2f2;
  }

  .card .actions .follow-info h2 a:hover span {
    color: #007ad6;
  }

  .card .actions .follow-btn button {
    color: white;
    font: inherit;
    font-weight: bold;
    background-color: #3880FF;
    width: 100%;

    border: none;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 1.5rem/50%;
    transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .banner {
    color: white;
    font: inherit;
    font-weight: bold;
    background-color: #3880FF;
    width: 100%;

    border: none;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
    transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .card .actions .follow-btn button:hover {
    background-color: #3880FF;
    transform: scale(1.1);
  }

  .card .actions .follow-btn button:active {
    background-color: #3880FF;
    transform: scale(1);
  }

  .card .desc {
    text-align: justify;
    padding: 0 2rem 2.5rem;
    order: 100;
  }



  ion-tab-bar,
  .men {
    display: none;
  }

  ion-button {
    background-color: #3880FF !important;
  }


  h1 {
    letter-spacing: -1px;
  }

  a {
    color: #707070;
    text-decoration: unset;
  }


  .loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
  }

  .flex-flex {
    display: flex;
  }

  .align-center {
    align-items: center;
  }

  .center-center {
    align-items: center;
    justify-content: center;
  }

  .box-root {
    box-sizing: border-box;
  }

  .flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .loginbackground-gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 86.6px);
    grid-template-rows: repeat(8, 64px);
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
  }

  .box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
  }

  .box-background--blue {
    background-color: #3880FF;
  }

  .box-background--white {
    background-color: #ffffff;
  }

  .box-background--blue800 {
    background-color: #3880FF;
  }

  .box-background--gray100 {
    background-color: #e3e8ee;
  }

  .box-background--cyan200 {
    background-color: #7fd3ed;
  }

  .padding-horizontal--48 {
    padding: 48px;
  }

  .padding-bottom--15 {
    padding-bottom: 15px;
  }

  @media (max-width: 768px) {

    ion-tab-bar {
      display: flex;
    }

    .men {
      display: flex;
    }

    input {
      height: 20% !important;
    }



    .profile,
    .Rechercher,
    .connexion {
      display: none;
    }

    .logo2 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }


    ion-button {
      font-size: 12px !important;
    }


  }
</style>