<!-- <div class="" style="overflow: scroll;">
  <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root"
            style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <ion-buttons slot="end" style="font-size: 50px; margin-left: auto; background-color: #FFF; color: #707070;"> -->
        <!-- //<ion-button (click)="modal.dismiss()" style="background-color: #FFF; color: #707070;"><i class="bi bi-x "
            style="font-size: 50px;"></i></ion-button>-->
      <!-- </ion-buttons>
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="../../assets/logo.png" rel="dofollow">DevsCiwara</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Créer un compte</span>
            <form id="stripe-login" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm" novalidate>
              <div class="field padding-bottom--24">
                <label for="emailOrNumero">Pseudo</label>
                <input type="text" name="emailOrNumero" [(ngModel)]="form.emailOrNumero" required maxlength="100"
                  #emailOrNumero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emailOrNumero.errors }">
                <div class="invalid-feedback" *ngIf="emailOrNumero.errors && f.submitted">
                  <div *ngIf="emailOrNumero.errors['required']">Le nom est obligatoire!</div>
                  <div *ngIf="emailOrNumero.errors['maxlength']">
                    Le nom d'utilisateur ne doit pas depasser 20 caracters
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <label for="currentpassword">Clé reussie</label>
                <input type="text" name="currentpassword" [(ngModel)]="form.currentpassword" required
                  #currentpassword="ngModel" [ngClass]="{'is-invalid':f.submitted && currentpassword.errors}">
                <div *ngIf="currentpassword.errors && f.submitted" class="invalid-feedback" style="color: red;">
                  La clé est obligatoire!
                </div>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Mot de passe</label>
                </div>
                <input type="password" class="input" id="newpassword" class="form-control" name="newpassword"
                  [(ngModel)]="form.newpassword" required minlength="6" #newpassword="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && newpassword.errors }">
                <div *ngIf="newpassword.errors && f.submitted" class="invalid-feedback">
                  <div color="red" *ngIf="newpassword.errors['required']" style="color: red;">Le mot de passe est
                    obligatoir</div>
                  <div *ngIf="newpassword.errors['minlength']" style="color: red;">
                    le mot de passe doit contenir au mois 6 caracters
                  </div>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Confirmer mot de passe</label>
                </div>
                <input type="password" name="confirmpassword" [(ngModel)]="form.confirmpassword" required
                  #confirmpassword="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.value != form.newpassword }" />
                <div *ngIf="f.submitted && confirmpassword.value != form.newpassword" class="invalid-feedback">
                  La confirmation de mot de passe ne correspond pas au mot de passe saisi.
                </div>
              </div>
              <div class="field padding-bottom--24 py-3">
                <input type="submit" name="submit" value="S'inscrire" style="background-color: #5260FF;">
                <div class="form-group">
                  <div *ngIf="f.submitted && Inscriptionechoue" class="alert alert-danger" role="alert">
                    Erreur: {{ messageErreur }}
                  </div>
                </div>
              </div>
              <div class="field">
                <a class="ssolink" href="#">Vous avez un de compte ?</a>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="InscriptionReussi">
              Mot de passe Modifier avec succès
            </div>

          </div> -->


          <!-- <div class="container">
            <h1>Change Password</h1>
            <form  (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
              </div>
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div *ngIf="passwordChanged" class="alert alert-success mt-3">
              Password changed successfully!
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
          </div> -->

        <!-- </div>

      </div>
    </div>
  </div>
</div> -->

<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Page de reinitilisation</header>
      <form id="stripe-login" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <div class="field input-field" style="margin-bottom: 10%;">
          <label for="emailOrNumero">Pseudo</label>
          <input type="text" name="emailOrNumero" [(ngModel)]="form.emailOrNumero" required maxlength="100"
            #emailOrNumero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emailOrNumero.errors }">
          <div class="invalid-feedback" *ngIf="emailOrNumero.errors && f.submitted">
            <div *ngIf="emailOrNumero.errors['required']">Le nom est obligatoire!</div>
            <div *ngIf="emailOrNumero.errors['maxlength']">
              Le nom d'utilisateur ne doit pas depasser 20 caracters
            </div>
          </div>
        </div>
        <div class="field input-field" style="margin-bottom: 10%;">
          <label for="currentpassword">Code reçue</label>>
          <input type="password" name="confirmpassword" [(ngModel)]="form.confirmpassword" required
            #confirmpassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.value != form.newpassword }" />
          <div *ngIf="f.submitted && confirmpassword.value != form.newpassword" class="invalid-feedback">
            La confirmation de mot de passe ne correspond pas au mot de passe saisi.
          </div>
        </div>
        <div class="field input-field" style="margin-bottom: 10%;">
          <label for="currentpassword">Nouveau mot de passe </label>>
          <input type="password" class="input" id="newpassword" class="form-control" name="newpassword"
            [(ngModel)]="form.newpassword" required minlength="6" #newpassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && newpassword.errors }">
          <div *ngIf="newpassword.errors && f.submitted" class="invalid-feedback">
            <div color="red" *ngIf="newpassword.errors['required']" style="color: red;">Le mot de passe est
              obligatoir</div>
            <div *ngIf="newpassword.errors['minlength']" style="color: red;">
              le mot de passe doit contenir au mois 6 caracters
            </div>
          </div>
        </div>
        <div class="field input-field" style="margin-bottom: 10%;">
          <label for="currentpassword">Confirmer le mot de passe </label>>
          <input type="password" name="confirmpassword" [(ngModel)]="form.confirmpassword" required
            #confirmpassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.value != form.newpassword }" />
          <div *ngIf="f.submitted && confirmpassword.value != form.newpassword" class="invalid-feedback">
            La confirmation de mot de passe ne correspond pas au mot de passe saisi.
          </div>
        </div>
        <div class="field button-field" style="margin-top: 4%;">
          <button>Envoyer</button>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="InscriptionReussi">
        Un code de reinitilisation a été envoyé à votre adress mail
        <div class="reset-pass">

        </div>
      </div>
    </div>
  </div>

</section>