<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Page de reinitilisation</header>
      <form id="stripe-login" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <div class="field input-field" style="margin-bottom: 10%;">
          <label for="email">Email<b style="color:red">*</b> </label>
          <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
            [ngClass]="{'is-invalid':f.submitted && email.errors}">
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback" style="color: red;">
            L'adresse email est obligatoire!
          </div>
        </div>
        <div class="field button-field" style="margin-top: 4%;">
          <button>Envoyer</button>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="InscriptionReussi">
        Un code de reinitilisation a été envoyé à votre adress mail
        <div class="reset-pass">
          <a (click)="openModal()">Nouveau mot de passe</a>
        </div>
      </div>
    </div>
  </div>

</section>